<h1> Vehicle </h1>
<%= form_for @vehicle do |f| %>
  <p><label for="vehicle_reg_no">Registration Number</label>:
    <%= f.text_field :reg_no %></p>
  <p><label for="vehicle_county">Country</label>:
    <%= f.text_field :country %></p>
  <p><label for="vehicle_seating">Seating</label>:
    <%= f.text_field :seating %></p>
  <p><label for="vehicle_owner">Owner</label>
    <%= f.text_field :owner %></p>
    <% if @current_driver %>
    <%= select_tag "driver_id", options_from_collection_for_select(@drivers, "id", "name", @current_driver.id) %>
    <%= f.submit 'Unassign Driver', :name => 'unassign_driver' %>
   <% else %>   
     <%= select_tag "driver_id", options_from_collection_for_select(@drivers, "id", "name"), prompt: "Select Driver" %>
   <% end %>
  <%= f.submit %>
<% end %>
<p><%= link_to "Vehicles listing", vehicles_path%></p>