<p> Listed below is the vehicle ></p>
	<ul>
			<li><%= @vehicle.reg_no %></li>
			<li><%= @vehicle.country %></li>
			<li><%= @vehicle.seating %></li>
			<li><%= @vehicle.owner %></li>
      <% if @current_driver %>
        <li>Current Driver: <%= @current_driver.name %></li>
      <% end %>
	</ul>
<p><%= link_to "Add new Vehicle", new_vehicle_path %></p>
<p><%= link_to "Vehicle Listing", vehicles_path %></p>

